version: '3.8'

services:
  backend:
    build:
      context: ./Tutoria-PEI-FRAN-Backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    build:
      context: ./TutoriaPEI-FRAN
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
